@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
.catalog_item {
  margin: 20px 0;
}

.item_image {
  height: 135px;
  overflow: hidden;
  padding: 10px;
  background-color: #ffff;
  border-radius: 8px;
}

.item_image img {
  height: 100%;
  object-fit: cover;
}

.catalog_item .title {
  text-align: center;
  margin-top: 10px;
}

.title p {
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}
