/* .popular-foods {
  padding: 2rem;
} */

.popular-foods .card {
  position: relative;
  margin-right: 13px;
}

.popular-foods del {
  color: grey;
}

.popular-foods .card .card-body {
  font-weight: 300;
  height: 75px;
}

.popular-foods .price span {
  font-weight: 900;
}

.popular-foods .cart-button {
  width: 50%;
}

.popular-foods .btn {
  font-weight: 900;
}

.card-text {
  text-transform: capitalize;
  font-size: 17px;
}

.popular-foods .card-footer {
  background-color: white !important;
  border-top: none !important;
  border-radius: 10px;
}

.ribbon {
  position: absolute;
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 3%;
  left: 0px;
}

.text {
  display: inline-block;
  padding: 0.5em 1em;
  background: #ffd72a;
  position: relative;
}

.ribbon:after,
.ribbon:before,
.text:before,
.text:after,
.bold:before {
  content: "";
  position: absolute;
  border-style: solid;
}

.ribbon:before {
  top: 0.3em;
  left: 0.2em;
  width: 100%;
  height: 100%;
  border: none;
  background: #ebeced;
  z-index: -2;
}

.text:before {
  bottom: 100%;
  left: 0;
  border-width: 0.5em 0.7em 0 0;
  border-color: transparent #fc9544 transparent transparent;
}

.text:after {
  top: 100%;
  right: 0;
  border-width: 0.5em 2em 0 0;
  border-color: #fc9544 transparent transparent transparent;
}

.ribbon:after,
.bold:before {
  top: 0.5em;
  right: -2em;
  border-width: 1.1em 1em 1.1em 3em;
  border-color: #fecc30 transparent #fecc30 #fecc30;
  z-index: -1;
}

.bold:before {
  border-color: #ebeced transparent #ebeced #ebeced;
  top: 0.7em;
  right: -2.3em;
}
