@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
.best-deals .card {
  height: 12rem;
  border-radius: 10px !important;
}

.best-deals .card img {
  height: 100%;
  width: 100%;
  border-radius: inherit;
}

.best-deals .col {
  padding-left: 0 !important;
}

@media only screen and (max-width: 600px) {
  .best-deals {
    margin-bottom: 12px;
  }
}
