@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
.coupens {
  font-family: "Source Sans Pro", sans-serif;
}

.clearfix {
  content: "";
  clear: both;
  display: table;
}

.coupon-card {
  /* height: 130px; */
  padding: 10px 30px;
  position: relative;
  color: #ffff;
  border-radius: 8px;
  margin: 10px 0;
  text-align: center;
}

.coupon-card h1 {
  padding-top: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 35px;
  letter-spacing: 4px;
}

.coupon-card h6 {
  font-size: 18px;
  font-weight: 700;
  padding: 0 40px 0 0;
}

.coupon-code {
  display: inline-flex;
  align-items: center;
}

.coupon-code h6 {
  font-size: 14px;
  font-weight: 400;
}

.coupon-code .btn {
  justify-content: end;
  text-align: right;
  background-color: #1d262a;
  color: #ffff;
}

.circle1,
.circle2 {
  background-color: #f3f3f3;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media only screen and (max-width: 600px) {
  .circle1 {
    left: -9px !important;
  }
  .circle2 {
    right: -9px !important;
  }
}

.circle1 {
  left: -25px;
}

.circle2 {
  right: -25px;
}
