@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
.contents {
  background-color: #fce5c0;
  padding: 50px 30px;
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
}

.content_titles {
  width: 50%;
  text-transform: capitalize;
}

.content_titles h6 {
  font-size: 20px;
  font-weight: 600;
}

.content_titles h1 {
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 4px;
  color: #fcbc08;
}

.content_titles .btn {
  background-color: #926228;
  color: #ffff;
  border-radius: 30px;
  padding: 4px 10px;
}

.btn:active {
  box-shadow: none !important;
}

.content_titles p {
  font-size: 18px;
}

.content_image {
  height: 300px;
  width: 326px;
}

.content_image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.slick-next:before,
.slick-prev:before {
  color: #926228 !important;
}

@media only screen and (max-width: 600px) {
  .slick-next {
    right: -9px !important;
  }
  .slick-prev {
    left: -9px !important;
  }
}
