@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

/* .promo_comp {
  height: 10rem;
  width: 100rem;
} */

.promo_comp {
  padding: 20px 20px 20px 0;
  margin-bottom: -150px;
}

.promo_img {
  height: 450px;
  width: 100%;
  overflow: hidden;
}

.promo_comp img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.promo_text {
  position: relative;
  bottom: 165px;
  padding: 20px;
  background-color: white;
}

/* .promo_text {
  width: 0;
  height: 0;
  border-left: 300px solid transparent;
  border-right: 500px solid transparent;
  border-bottom: 160px solid green;
  margin: 2rem;
} */
