@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
:root {
  --top-header-color: #1d262a;
  --icon-color: #926228;
  --p-color: #ffff;
  --s-color: #0000;
  --font-family: "Source Sans Pro", sans-serif;
  --bg-color: #f3f3f3;
}

.clearfix {
  content: "";
  clear: both;
  display: table;
}

/* .....top header.......... */

.topheader {
  background-color: #1d262a;
  color: var(--p-color);
  padding: 8px 10px;
  font-family: var(--font-family);
}

.t_back {
  display: flex;
  justify-content: right;
}

.t_back h6,
.t_front h6 {
  font-size: 20px;
  font-weight: 600;
}

.t_back h6 {
  border-right: 1px solid white;
  padding: 0 5px;
}

.t_back h6:last-child {
  border-right: none !important;
}

/* .....navbar..... */

.logo {
  height: 80px;
  width: 80px;
}

.logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50px;
}

.nav-item {
  padding: 0 20px;
}

.nav-link i {
  color: var(--icon-color);
  font-size: 16px;
  padding: 0 8px;
}

.nav-link .fa-location-dot {
  font-size: 22px;
}

.nav-link span {
  color: #1d262a;
  font-size: 12px;
}

.nav-link .location {
  font-size: 18px;
  font-weight: 600;
}

.add_to_cart .fa-bag-shopping {
  padding: 12px;
  border-radius: 50%;
  border: 1px solid rgba(29, 38, 42, 0.15);
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.11));
}

.cart-sup {
  background-color: #f03c1f;
  padding: 2px 5px;
  border-radius: 50%;
  position: relative;
  left: -12px;
  top: -15px;
}

.input_form {
  width: 800px;
}

.input_form .form-control {
  padding-left: 50px;
  text-transform: capitalize;
  border-radius: 30px;
}

.input_form .input-group-text {
  position: relative;
  right: 87%;
  border: none !important;
  background-color: transparent;
  padding: 0 !important;
}

@media only screen and (max-width: 1024px) {
  .input_form {
    width: 500px !important;
  }
}

.input_form .btn {
  font-size: 18px;
  font-weight: 600;
}

.home {
  background-color: var(--bg-color);
}

/* ....banner..... */

.banner {
  padding-top: 50px;
}

.h_banner {
  margin: 60px 0;
}

/* ...coupons... */

.headings {
  padding: 15px 0;
}

.headings h2 {
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
}

/* ...catalogue.... */

/* ...footer..... */

.footer {
  background-color: var(--top-header-color);
  color: var(--p-color);
  padding: 60px 60px 10px 60px;
  font-family: var(--font-family);
}

.footer h3 {
  font-size: 26px;
  font-weight: 600;
  text-transform: capitalize;
}

.menues {
  padding-top: 10px;
  padding-left: 0 !important;
}

.menues li {
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.7;
}

a {
  text-decoration: none !important;
  color: var(--p-color);
}

.menues li a:hover {
  text-decoration: underline !important;
  color: var(--p-color);
}

.p_partners {
  margin: 45px 0 70px 0;
}

.p_method {
  display: flex;
  margin-top: 20px;
  background-color: var(--bg-color);
  border-radius: 16px;
  padding: 10px 20px;
  align-items: center;
}

.p_image {
  height: 50px;
  width: 50px;
}

.p_image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.p_text {
  padding: 0 8px;
}

.p_text h3 {
  color: #232323;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 0 !important;
}

.p_text p {
  color: #a3a3a3;
}

.last_section {
  border-top: 1px solid rgba(205, 205, 205, 0.2);
  display: flex;
  justify-content: space-between;
  padding: 15px 8px;
  text-transform: capitalize;
  align-items: center;
}

.last_section p {
  font-size: 16px;
  font-weight: 200;
}

.last_section .terms {
  display: flex;
}

.last_section .terms p {
  padding: 0 5px;
}

.last_section .terms p:first-child {
  border-right: 1px solid #f3f3f3;
}

.social_icons i {
  background-color: #fcbc08;
  margin: 0 0 0 15px;
  font-size: 20px;
  padding: 10px;
  border-radius: 50%;
  color: black;
}

/* ..deals... */

.deals_contents .col {
  padding-left: 0 !important;
}

.top {
  justify-content: space-between;
}

.headings .btn {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 600;
  font-family: var(--font-family);
}

.popular_food .slick-next,
.popular_food .slick-prev {
  display: none !important;
}

/* ...delicacies... */

.deilcacies_image {
  height: 400px;
  width: 100%;
  padding: 10px 20px 10px 0;
}

.deilcacies_image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.delicacy {
  padding: 10px 20px;
}

.delicacy_desc {
  font-family: var(--font-family);
}

.delicacy_desc h3 {
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 30px;
}

.delicacy_desc h6 {
  font-size: 18px;
  font-weight: 600;
}

.delicacy_desc p {
  font-size: 17px;
}

.delicacy_add {
  display: flex;
  justify-content: space-between;
}

.delicacy_add .btn {
  color: #fff;
}

.qty {
  align-items: center;
}

.qty h6 {
  text-transform: capitalize;
  font-size: 18px;
  margin: 0 10px;
}

.qty .count {
  color: #000;
  display: inline-block;
  vertical-align: top;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  padding: 0 2px;
  min-width: 35px;
  text-align: center;
  background-color: var(--bg-color);
}

.qty .plus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: var(--icon-color);
  width: 30px;
  height: 30px;
  font: 30px/1 Arial, sans-serif;
  text-align: center;
  border-radius: 50%;
  border: 1px solid var(--icon-color);
}

.qty .minus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: var(--icon-color);
  width: 30px;
  height: 30px;
  font: 30px/1 Arial, sans-serif;
  text-align: center;
  border-radius: 50%;
  background-clip: padding-box;
  border: 1px solid var(--icon-color);
}

.minus:hover {
  background-color: var(--icon-color);
  color: #ffff;
}

.plus:hover {
  background-color: var(--icon-color);
  color: #ffff;
}

.qty input {
  border: 0;
  width: 2%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.company_desc {
  padding: 10px 20px 10px 0;
}

.company_desc p {
  font-size: 17px;
}

.company_video iframe {
  border-radius: 18px;
}

.company_video iframe {
  height: 400px;
  width: 100%;
}

.h_banner {
  height: 200px;
  width: 100%;
}

.h_banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.headings h2 span {
  color: #fcbc08;
}

/* .p_class {
  margin-bottom: -10%;
} */

.program {
  background-color: #fce5c0;
  margin-top: 150px;
  font-family: var(--font-family);
  margin-bottom: -3%;
}

.program_image {
  text-align: center;
  position: relative;
  bottom: 38%;
}

.program_detail h4 {
  font-weight: 600;
}

.program_detail h1 {
  color: #fec568;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 2px;
}

.program_detail p {
  font-size: 18px;
  font-weight: 600;
}

.program_detail .btn {
  background-color: #fcbc08;
  padding: 5px 20px;
}

/* ...payment.... */

.payment {
  margin-top: 80px;
}

.qr_image {
  height: 250px;
  padding: 20px 198px;
}

@media only screen and (max-width: 600px) {
  .qr_image {
    padding: 5px 80px !important;
  }
}

.qr_image img {
  height: 100%;
}

.downloads {
  display: flex;
}

.download_1,
.download_2 {
  height: 100px;
  width: 100%;
}

.download_1 img,
.download_2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.mobile {
  height: 500px;
  width: 100%;
  object-fit: contain;
}

.mobile img {
  height: 100%;
  width: 100%;
}
