@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
.offer_image {
  height: 100px;
}

.offer_image img {
  height: 100%;
}

.offer {
  border: 2px solid #d4d4d4;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  font-family: "Source Sans Pro", sans-serif;
}

.offer_text {
  padding: 20px 10px;
}

.offer_text h1 {
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0;
}
